<h1>BestBeforeは、食品の賞味期限を管理するアプリです。</h1>
<div class="top-p">
  <p>みんなで「食品ロス」を減らそう、なくそう！！</p>
</div>


<div class="actions">
  <%= link_to "食品一覧へ", foods_path, class: "btn btn-primary btn-block" %>
</div>