<div class="topper">
  <h1>BestBeforeは、食品の賞味期限を管理するアプリです。</h1>
  <div class="top-p">
    <p>みんなで「食品ロス」を減らそう、なくそう！</p>
    <p class="top-p2">食品ロスは、各事業所や家庭での廃棄の積み重ねによって、社会全体で環境負荷や資源の無駄使いなどの問題を招きます。食品を焼却処理する際に排出されるCO2が地球温暖化の要因となる温室効果を助長します。食品ロスが増えることで、結果的に地球温暖化を進行させてしまうのです。また、世界には、貧困により満足に食べ物を得られない人々が多くいる中で、本来食べられたであろう食品が捨てられており、食料資源が有効に活用されていないと言える問題があります。そこで少しでも「食品ロス」を減らすために、このアプリを作成しました。</p>
    <p>「食品ロス」を減らすためにできることから始めよう！！</p>
  </div>
  <div class="actions">
    <%= link_to foods_path, class: "btn btn-primary btn-lg btn-block border border-white",style: "background-color: #cd853f;" do %>
      <span>食品一覧へ </span>
      <i class="fas fa-clipboard-list"></i>
    <% end %>
  </div>
</div>

